<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Doxnative</a></li>
    <li class="breadcrumb-item active" aria-current="page">Deals</li>
  </ol>
</nav>
<ul class="list-group">
  <li class="list-group-item active" aria-current="true">Native Deals</li>
  <li class="list-group-item">A second item</li>
  <li class="list-group-item">A third item</li>
  <li class="list-group-item">A fourth item</li>
  <li class="list-group-item">And a fifth one</li>
</ul>
<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#">DoxNative</a>
</nav>